/*========== Landing page positioning ==========*/
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  margin: 0.625rem;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 1rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.hero-search {
  display: flex;
  align-items: center;
  background: #242424;
  border: 0;
  outline: 0;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  width: 50%;
  border-radius: 50px;
}

.hero-button {
  background-color: #3f72af;
  color: white;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
  border-radius: 20px;
}
.hero-button:hover {
  background-color: #3f72af;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }

  .hero-search {
    padding: 10px 18px;
    font-size: 16px;
    width: 60%;
  }

  .hero-button {
    background-color: #3f72af;
    color: white;
    padding: 0.9rem;
    margin-left: 1rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero-title {
    font-size: 2.75rem;
  }

  .hero-subtitle {
    font-size: 1.75rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 2rem;
  }
}
