/*========== Header spacing ==========*/
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #3f72af;
  padding: 15px 7%;
}

.logo {
  width: 100px;
  cursor: pointer;
}

/*========== Hamburger menu for smaller devices ==========*/
.nav-btn {
  background: transparent;
  cursor: pointer;
  padding: 5px;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.8rem;
  color: white;
}

/*========== Links arrangement ==========*/
nav {
  display: flex;
}

nav a {
  margin: 2rem;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.toggle-icon {
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: #3f72af;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 5;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}
